body {
}

nav.navigation {
  background: none;
  .top-bar-section {
    ul.right {
      background: none;
      li a {
        background: none;
        display: inline;
        font-size: emCalc(15px);
        @include transition(all 2s);
        color: $top-bar-link-color;
        &:hover {
          background: none;
          color: lighten($top-bar-link-color, 20%);
        }
      }
    }
  }
}

.masthead {
  margin: 5em auto 4em;
  padding-bottom: 4em;
  border-bottom: 5px solid lighten($masthead-h1-color, 50%);

  h1 {
    font-size: 6em;
    font-weight: 800;
    color: $masthead-h1-color;
  }

  h2 {
    font-size: 3em;
    color: lighten($masthead-h1-color, 20%);
    margin-bottom: 0;
  }

  p.bio {
    font-size: 1.5em;
    color: lighten($masthead-h1-color, 30%);
    margin-bottom: 3em;
  }

  p.photo {
    text-align: center;
    img {
      border: 5px solid #fff;
    }
  }
}

.writing.columns {
  ul {
    margin: 0;
    li {
      list-style-type: none;
      font-size: emCalc(20px);
      padding: 10px 0;
      border-bottom: 1px solid #323232;
    }
  }
}
