body {
}

nav.navigation {
}

.masthead {
  margin: 5em auto 4em;
  padding-bottom: 4em;
  border-bottom: 5px solid lighten($masthead-h1-color, 50%);

  h1 {
    font-size: 6em;
    font-weight: 800;
    color: $masthead-h1-color;
  }

  h2 {
    font-size: 3em;
    color: lighten($masthead-h1-color, 20%);
    margin-bottom: 0;
  }

  p.bio {
    font-size: 1.5em;
    color: lighten($masthead-h1-color, 30%);
    margin-bottom: 3em;
  }

  p.photo {
    text-align: center;
    img {
      border: 5px solid #fff;
    }
  }

}
