---
---

@import "normalize";

html, body {
	background: #fff;
	color: #333;
	font-size: 14px;
	font-family: "proxima-nova-alt", sans-serif;
	max-width: 1680px;
	margin: 0 auto;
	padding: 0 4vw;
}

@import "highlight";
@import "react-grid";
@import "components/header";
@import "components/writing";
@import "components/header";
@import "components/writing";

a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	&:hover {
		text-decoration: underline;
	}
}

ul {
	list-style-type: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

.post h5 {
	margin-bottom: 0;
}

footer.footer {
	border-top: 1px solid #fafafa;
	min-height: 50px;
}