/* Add additional stylesheets below
-------------------------------------------------- */

/* Body and structure
-------------------------------------------------- */

body {
    position: relative;
    font-family: 'Roboto';
    font-weight: lighter;
    line-height: 1.5em;
}

a { color:rgb(67, 167, 199); }
h1.light { color: rgb(67, 167, 199); font-weight: 200; }

.post-header {
    margin-bottom:20px;
    font-size:7em;
    line-height: normal;
}

#disqus_thread {
    margin-top:50px;
}

/* Code in headings */
h3 code {
    font-size: 14px;
    font-weight: normal;
}

/* buttons */

.btn {
    margin-top:10px;
    background: rgb(67, 167, 199);
    border: none;
    box-shadow: none;
    color: #fff;
    text-shadow: none;
}

.btn:hover {
    background: rgb(67, 167, 199);
}

footer .container {
  border-top: 1px solid rgb(67, 167, 199);
  padding:15px 0;
}

footer .container a {
  color: rgb(28, 123, 199);
  font-weight: 400;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar .navbar-inner {
    background-color: none;
    background: rgb(17, 22, 26);
    border:none;
    box-shadow: none;
}

.nav.pull-right li a {
    color:#fff;
    font-size:1.2em;
    text-shadow: none;
    padding:5px 10px;
    border-radius:3px;
    -webkit-transition: 1s all;
}

.nav.pull-right li a:hover {
    background: rgb(67, 167, 199);
}

.nav.pull-right li {
    margin:10px;
}

body > .navbar {
    font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
    padding-right: 0;
    padding-left: 0;
    margin-left: 20px;
    float: right;
    font-weight: bold;
    color: #000;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
body > .navbar .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.4);
}


/* Sections
-------------------------------------------------- */

/* columns */

.span4.github {
    background: #f8f8f8;
    padding:0 10px;
    border:1px solid #e2e2e2;
}

p.date { font-size:0.8em; color: rgb(155, 155, 155); }
span.date { font-size:0.5em;  color: rgb(155, 155, 155); }

.row-fluid .span12 {
    margin-left:0;
}

.post-content {
    font-size: 1.2em;
    line-height: 1.5em;
}

/* Masthead (docs home)
------------------------- */
.masthead {
    background: rgb(17, 22, 26);
    border-bottom:30px solid rgb(67, 167, 199);
    color:#fff;
    padding: 20px 0 90px;
    margin-bottom: 50px;
}
.masthead h1 {
    font-size: 8em;
    color:rgb(67, 167, 199);
    font-weight: 800;
    line-height: normal;
}
.masthead p {
    font-size: 20px;
    font-weight: 100;
    line-height: 1.25em;
}

.excerpt {
    font-size:1.5em;
    line-height: 1.4em;
}

.excerpt p {
    padding:15px 0;
}

.excerpt p.img {
    text-align: center;
}

.excerpt ul li {
    list-style-type: square;
    line-height: 1.4em;
}

/* Footer */

footer {
    margin:50px 0 0;
}

footer ul li {
    list-style-type: none;
    list-style-position: inside;
    display:inline-block;
    margin:0;
}

footer ul li:nth-child(even) a {
    margin:0 10px;
}


/* Responsive
-------------------------------------------------- */

/* Desktop large
------------------------- */
@media (min-width: 1200px) {

}

/* Desktop
------------------------- */
@media (max-width: 980px) {

}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    body { padding:0; }
    .container { padding: 0 20px; }
    .navbar-static-top {
        margin:0;
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    body { padding:0; }
    .container { padding: 0 20px; }
    .navbar-static-top {
        margin:0;
    }
    span.date { display:block; margin:0; padding:0; }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    body { padding:0; }
    .container { padding: 0 20px; }
    .navbar-static-top {
        margin:0;
    }

    .masthead h1 {
        font-size:4em;
    }

    .post-header {
        font-size:4em;
    }
    span.date { display:block; margin:0; padding:0; }
}