body {
	width:100%;
}

.leftcol {
	width:100%;
	position: static !important;
	height:400px;
	background: none;

}

div.details {
	position: static;
	float:none;
	padding:0;
	width:100%;
	background: #e1e1e1;
}

div.articles {
	width:100%;
  margin:0 0 50px;
  position:static;
  float:left;
}

.postcontent h3 {
	margin-bottom: 2em;
}

.bio, .aboutme, .socialwrapper {
	padding:0 20px;
}

.socialwrapper li {
	text-align: center
}

div.article_link, div.excerpt, div.date, div.postcontent {
	width:95%;
	padding: 0 2%;
	margin:0;
	float:none;
}

div.article_link { margin:20px 0;}

div.date span {
	font-size:12px;
	color:#b3b3b3;
}

div.date span:before {
	content: 'Posted on: '
}

footer {
	position: fixed;
	z-index: 999;
	bottom:0;
	left: 0;
	width:100%;
	background: #212121;
	padding:0;
	display: inline-block;
	overflow: hidden;
}

footer .mobile {
	width:33.33%;
	float:left;
	height:50px;
	text-align: center;
	display:block;
	font-size:1em;
}

footer .mobile a {
	display: block;
	color:#f8f8f8;
	font-weight: 800;
	height:50px;
	line-height: 50px;
}

footer .mobile a:hover {
	text-decoration: none;
}