a {

  // Github
  .icon-github-circled {
    color: $github-color;
  }

  // Spotify
  .icon-spotify-circled {
    color: $spotify-color;
  }

  // Last.fm
  .icon-lastfm-circled {
    color: $lastfm-color;
  }

  // Facebook
  .icon-facebook-circled {
    color: $facebook-color;
  }
}
