html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

/* 

Colour sample:
Main: #ca314a

*/

strong {font-weight: bold;} 
a { text-decoration: none; color: #333 }
a:hover { text-decoration: underline }

html {
	background: #f8f8f8;
}

body {
	font-family: 'Open Sans', serif;
	color: #333;
	background: #f8f8f8;
}

/* LOGO */

div.logo {
	.easeinoutlogo(3s);
	position: absolute;
	right:-52px;
	top:25px;
	height: 100px;
	width: 100px;
	.border-radius(50%);
	background: #ca314a;
	.box-shadow(~"0px 0px 0px 11px #fff, inset 0px 3px 3px #7e2433");

	z-index: 2;
	overflow:hidden;
}

.easeinoutlogo(@time) {
	-webkit-animation-duration: @time;
	-webkit-animation-name: ease;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-moz-animation-duration: @time;
	-moz-animation-name: ease;
	-moz-animation-iteration-count: infinite;
	-moz-animation-direction: alternate;
}

.box-shadow(@args) {
	box-shadow: @args;
	-moz-box-shadow: @args;
	-webkit-box-shadow: @args;
	-o-box-shadow: @args;	
}

.border-radius(@args) {
	border-radius:@args;
	-webkit-border-radius:@args;
	-moz-border-radius:@args;
	-o-border-radius:@args;
}

/* INITIALS */

.initials {
	font-size: 3em;
	color: #f8f8f8;
}

.initial1 {
	-webkit-transform:rotate(-180deg);
	-moz-transform:rotate(-180deg);
	-o-transform:rotate(-179deg);
	transform:rotate(-180deg);
	position: absolute;
	top:27px;
	right:20px;
}

.initial2 {
	position: absolute;
	right:45px;
	top:8px;
}

h1 {
	font-size: 2em;
	text-shadow: 0px 1px 0px #fff;
}

/* LEFT COLUMN */

.leftcol {
	width:350px;
	min-height: 100%;
	background: url(/images/bg.png) repeat #212121;
	border-right:2px solid #121212;
	position: fixed;
	box-shadow:inset -3px 0px 6px #121212;
}

.leftcol h1 a {
	text-decoration: none;
	color: #f8f8f8;
}

.bio {
	padding:20px;
}

.fullname {
	margin-top:10px;
	text-transform: uppercase;
	font-size: .8em;
	letter-spacing: .2em;
	color: #ca314a;
}

.about {
	margin-top:50px;
	line-height: 1.5em;
	font-size: 13px;
	padding: 10px 20px 10px 20px;
	margin-bottom: 40px;
	color:#727272;
	text-shadow:0px 1px 0px #000;
}

ul.sociallinks {
}

.sociallinks li {
	width:100%;
	height:40px;
	opacity: .5;
	text-indent: 10px;
	line-height:40px;
	background: #121212;
	-webkit-transition:background 1s;
	-moz-transition:background 1s;
	-o-transition:background 1s;
	transition:background 1s;
	box-shadow:inset 2px 0px 0px 0px #323232;
}

.sociallinks li:hover {
	background: #323232;
}

li a {
	text-decoration: none;
	height: 40px;
	width:100%;
/* 	line-height: 40px; */
	color: #828282;
	font-size: 14px;
}

a.github { color:#ebd4a8; }
a.facebook { color:#3B5998; }
a.twitter { color:#33BCEF; }
a.lastfm { color:#D51007; }
a.yc { color:#ff6600; }

/* ARTICLES */

.articles {
	position: absolute;
	left:452px;
	width:700px;
	margin-top:100px;
	line-height: 1.7em;
	font-size: 14px;
}

.article_link {
	overflow: hidden;
	padding: 5%;
	margin-bottom: 5%;
	border-bottom: 1px dotted #e2e2e2;
}

.date {
	float: left;
	width: 105px;
	font-weight: bold;
}

.postcontent {
	float: left;
	width: 595px;
}

.postcontent h3 {
	font-size: 1.5em;
}

.postcontent h3 a, .excerpt a {
	color: #ca314a;
	font-weight: normal;
}

.postcontent ul {
	font-size: 12px;
}

.postcontent ul li {
	display: inline;
	padding-right:15px;
}

.postcontent ul li.last::before {
	content: "Tags: ";
	font-weight: bold;
}

.excerpt {
	margin-top:4%;
}

.excerpt {
	font-size: 13px;
}

.excerpt p {
	margin-bottom: 5px;
	line-height: 2em;
}

.excerpt ul {
	margin:10px 0;
	background: #fff;
	padding: 10px;
}

.excerpt ul li {
	display: block;
	list-style-type: decimal;
	list-style-position: inside;
}

.excerpt ul li::before {
	content: "- "
}

.excerpt h1 {
	font-size: 1.3em;
	margin: 15px 0 15px 0;
}

.highlight {
	margin:15px 0;
}

/* ANIMATIONS */

@-webkit-keyframes ease {
  from { background: #ca314a; } 
  to { background:#922436; }
}

@-moz-keyframes ease {
  from { background: #ca314a; } 
  to { background:#922436; }
}

em {
	font-style: italic;
}

#disqus_thread {
	margin-top:50px;
}

.getintouch {
	position: fixed;
	bottom:20px;
	border-radius:100px;
	background: #323232;
	opacity: .4;
	left:20px;
	font-size: 13px;
	text-transform: uppercase;
	
}

.getintouch a {
	color:#fff;
	padding:10px;
}

.getintouch a:hover {
	text-decoration: none;
}

p.tldr {
	border:2px solid #ca314a;
	padding: 10px;
	margin-bottom: 10px;
	background: #fff;	
}

p.img { text-align: center;} 

img {
	border:1px solid #b3b3b3;
	margin:10px;
}