<!DOCTYPE html>
<head>
	<title> {{ page.title }} </title>
	<link type="text/css" rel="stylesheet" href="/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/css/syntax.css" />
    <link type="text/css" rel="stylesheet" href="/css/main.css" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16160930-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

	<div class="logo">
	<a href="/"><div class="initials initial1">G</div><div class="initials initial2">G</div></a>
	</div>

<div class="leftcol">
	
	<div class="bio">
	<h1> <a href="/">ggordan</a> </h1>
	<p class="fullname">  Gordan Grasarevic </p>
	</div>
	
	<div class="about"> Gordan is a web developer residing in London, UK. He is passionate about music, technology, and film. And sometimes, he writes about himself in the third person.</div>

	<ul class="sociallinks">
    	<li> <span><a href="http://github.com/ggordan">GitHub</a></span> </li>
    	<li> <span><a href="http://facebook.com/ggordan">Facebook</a></span> </li>
    	<li> <span><a href="http://twitter.com/ggordan">Twitter</a></span> </li>
    	<li> <span><a href="http://last.fm/user/ggordan">Last.fm</a></span> </li>
      	<li> <span><a href="http://news.ycombinator.com/user?id=ggordan">Hacker News</a></span> </li>
	</ul>
 
 	<p class="getintouch"><span><a href="mailto:me@ggordan.com">Get in touch</a></span></p>

</div>
