<!DOCTYPE html>
<head>
	<meta name="description" content="Gordan Grasarevic is a Ruby developer from London, UK">
	<meta name="keywords" content="ggordan, Gordan, Grasarevic, ruby, ruby on rails">
	<meta name="author" content="Gordan Grasarevic">
	<title> {{ page.title }} | Gordan Grasarevic </title>
    <link type="text/css" rel="stylesheet" href="/css/styles.css" media="only screen" />
    <link type="text/css" rel="stylesheet" href="/css/syntax.css" media="only screen" />
    <link rel="icon" type="image/png" href="/images/favicon.png" />
    <link href="css/phone.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width: 650px)" />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300' rel='stylesheet' type='text/css'>
	<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-16160930-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

<div class="details">
    <div class="bio">
        <h1> <a href="/">ggordan</a> </h1>
        <p class="fullname"> Gordan Grasarevic </p>
    </div>
    <div class="aboutme">
        <p> I'm a web developer based in London, UK. I am extremely passionate about what I do, and I like keeping up and tinkering with the latest tools/languages. My preferred languages are Ruby, and Javascript, but I will use the right tool for the job. Feel free to drop me a line at <a href="mailto:me@ggordan.com?subject=Hello">me@ggordan.com</a> </p>
    </div>
    <div class="socialwrapper">
        <ul class="sociallinks">
            <li> <a class="github" href="http://github.com/ggordan">GitHub</a> </li>
            <li> <a class="facebook" href="http://facebook.com/ggordan">Facebook</a> </li>
            <li> <a class="twitter" href="http://twitter.com/ggordan">Twitter</a> </li>
            <li> <a class="lastfm" href="http://last.fm/user/ggordan">Last.fm</a> </li>
            <li> <a class="yc" href="http://news.ycombinator.com/user?id=ggordan">Hacker News</a></li>
        </ul>
    </div>
</div>
